<!doctype html>

<meta name=""viewport" content="width=device-width, initial-scale=1.0">

<html>

   <div class="gas">Raspberry Pi Detected</div>
   <div class="gasName"> <iframe src="/iframe" width="500" height="60"></iframe> </div>
   <div id="box"></div>

   <style>

        div.gas{
            font-size: 50px;
            position:fixed;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        div.gasName{
            font-size: 30px;
            position: fixed;
            width: 500px;
            left: 50%;
            top: 55%;
            transform: translate(-50%,  -50%);
            text-align: center;
        }

   </style>
   
</html>