body{
    background-color: rgb(131, 127, 127);
}

div.gas{
    font-size: 50px;
    position:fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


div.gasName{
    font-size: 30px;
    position: fixed;
    width: 500px;
    left: 50%;
    border: 3px solid #ffffff;
    top: 40%;
    transform: translate(-50%,  -50%);
    text-align: center;
    
}
