body{
    background-color: rgba(236, 44, 44, 0.678);
}

div.gas{
    font-size: 50px;
    position:fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


div.gasName{
    font-size: 30px;
    position: fixed;
    width: 500px;
    left: 50%;
    /*border: 3px solid #ffffff;*/
    top: 55%;
    transform: translate(-50%,  -50%);
    text-align: center;
    
}
