<!doctype html>
<meta name=""viewport" content="width=device-width, initial-scale=1.0">
<html>
   <body>
      <script>
             function timedRefresh(timeoutPeriod) {
                 setTimeout("location.reload(true);",timeoutPeriod);
              }
                                                    
              window.onload = timedRefresh(1000);
      </script>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/stylesheet2.css') }}">
   </body>
   <div class="gas">Gas Detected</div>
   <div class="gasName">{{name}} </div>
   <div id="box"></div>
</html>


<!--
   <!doctype html>
<html>
   <body>
    <body style="background-color:blue;"></body>
      <h1>Hello! {{name}}</h1>
      <form method="post" action="/pi">
      <input type="submit" name="submit_button" value="Click Me">
      </form>
      
      this should be commented out too ---) <button type="button" onclick=setVar()>Click Me</button>
   </body>

</html>
-->
